

.error{
    background: #22ebe4;
    color: balck; 

    width: 100% ;
}

body {
  background-image: linear-gradient(to bottom, white, #22ebe4);
  background-attachment: fixed;
  color: #767211;
}
body.dark_mode {
   background-image: linear-gradient(to bottom, #5e5e5e, #191614);

    color: #d08e53;
}

#hover-img{
    width: 10%;
    height: 15%;
}
 #hover2{
    width: 15%;
    height: 15%;
}
.remove-from-cart{
    padding: 2px;
}
.mainconent {
    
    margin: auto;
    background: #f5d9c4;
    width: 80%;
    padding-bottom: 10%;
    padding-left: 5%;
    height: auto;
    color: #767211;
    
    

}
#add-product{
    width: 20%;
}
#Item{
    width: 40%;
}
.EnterItem{
    display: flex;
    flex-direction: column;
}
.head{ 
    margin-top: 5%;
    font-size: 70%;
    font-family: fantasy;

}
.dark_mode{
    width: 10%;
    height: 10%; 
    
}
.imgdark{
    width: 5%;
    height: 5%;
    cursor: pointer; 
    bottom: 10%;
}
.imgdarkT{
    background-color: grey;
}
#ShoppingListCart{
    background: #f5d9c4;
    padding: 20%;
    width: 150%;
    color: #767211;
}
#foot{
    bottom: 10px;
    position: fixed;
    margin-left: 0;
    
}
.imgdark:hover{
    background-color: #bb0000;
}
.darkmodecontent {
    background-color: #3f47cd;
    color: #f0f0f0; 
}


.darkmodecontent li {
    background-color: #5e50a1;
    color: #f0f0f0;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#ShoppingListCart.darkmodecontent {
    background-color: #3f47cd;
    color: #f0f0f0;
}

#ShoppingListCart.darkmodecontent li {
    background-color: #5e50a1;
    color: #f0f0f0;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}