.error{
    background: red;
    color: balck; 

    width: 100% ;
}
.body{
    background-color: brown;
    margin-left: 10%;
    
}
#hover-img{
    width: 10%;
    height: 15%;
}
 #hover2{
    width: 15%;
    height: 15%;
}
.remove-from-cart{
    padding: 2px;
}
.mainconent{
    
    margin: auto;
    background: white;
    width: 80%;
    padding-bottom: 10%;
    padding-left: 5%;
    height: auto;
    

}
#add-product{
    width: 20%;
}
#Item{
    width: 40%;
}
.EnterItem{
    display: flex;
    flex-direction: column;
}
.head{ 
    color: white;
    margin-top: 5%;
    font-size: 70%;
    font-family: fantasy;

}
.dark_mode{
    width: 10%;
    height: 10%; 
    
}
.imgdark{
    width: 5%;
    height: 5%;
    cursor: pointer;
}
